/* @import url("style.css"); */

.choice-container {
   display: flex;
   margin-bottom: 0.5rem;
   width: 100%;
   font-size: 1.8rem;
   border: 1px solid rgba(222, 222, 222, .5);
   /* padding: 1.1rem 1.2rem; */
   /* border-radius: 100rem; */
}

.choice-container:hover {
   cursor: pointer;
   box-shadow: 0 0.4rem 1.5rem 0 var(--accent);
   transform: translateY(-0.1rem);
   transition: transform .2s;
}

.choice-prefix {
   padding: 1.5rem 2.5rem;
   background-color: var(--accent);
   color: var(--bg-color);
}

.choice-text {
   padding: 1.5rem;
}

.correct {
   background-color: #172e20;
}

.wrong {
   background-color: #2e1717;
}

/* hud */

#hud {
   display: flex;
   justify-content: space-between;
   min-width: 20vw;
}

.hud-prefix {
   text-align: center;
   font-style: 2rem;
}

.hud-item {

}

.hud-main-text {
   color: var(--accent);
   text-align: center;
}

/* hud end */