/*Reset*/
* {
   padding: 0;
   margin: 0;
   border: 0;
}
*,
*:before,
*:after {
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
}
:focus,
:active {
   outline: none;
}
a:focus,
a:active {
   outline: none;
}
nav,
footer,
header,
aside {
   display: block;
}
html,
body {
   height: 100%;
   width: 100%;
   font-size: 100%;
   line-height: 1;
   font-size: 14px;
   -ms-text-size-adjust: 100%;
   -moz-text-size-adjust: 100%;
   -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
   font-family: inherit;
}
input:-ms-clear {
   display: none;
}
button {
   cursor: pointer;
}
button:-moz-focus-inner {
   padding: 0;
   border: 0;
}
a,
a:visited {
   text-decoration: none;
}
a:hover {
   text-decoration: none;
}
ul li {
   list-style: none;
}
img {
   vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
   font-size: inherit;
   font-weight: 400;
}
/*--------------------*/

body {
   background-color: #242424;
   color: #ffffff;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 35px;
}
h1 {
   font-size: 50px;
}

.calculator {
   width: 250px;
   padding: 10px;
   font-size: inherit;
}

.calculator input {
   width: 100%;

   margin: 0;
   border: 0;
   padding: 0;
   display: inline-block;
   vertical-align: middle;
   white-space: normal;
   background: white;
   line-height: 1;
   font-size: inherit;

   margin-bottom: 5px;
}

.calculator__buttons {
   width: 100%;
   display: flex;
   flex-wrap: wrap;

   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: center;
   align-content: center;
   align-items: center;
   font-size: inherit;
}

.calculator__button {
   width: 30%;
   margin: 3px auto;
   background-color: #454545;
   color: white;
   border: 1px solid #343434;

   order: 0;
   flex: 0 1 auto;
   align-self: auto;
   font-size: inherit;
}
